
.container-loading .wrapper.blur {
 backdrop-filter: blur(1px);
}

.list.active {
 border-color: blue;
}

.container-popup.active {
 opacity: 1;
 overflow-x: visible;
 transition: overflow-x 50ms linear;
 transition: opacity 300ms linear;
}
