@use './variable' as *;

/*   global css with color && animation   */

.sec-color-icon {
 color: $primary-icon;
 background-color: $primary-bg;
 box-shadow: inset 5px 5px 5px $primary-cards;
}

.prim-color-icon {
 color: $primary-icon;
 background-color: $secondary-cards;
 box-shadow: inset 5px 5px 5px $primary-bg;
}

 @keyframes scale_effect {
  0% {
    transform: scale(0) ;
  }

  50% {
    transform: scale(1.2) ;
  }

  100% {
    transform: scale(1) ;
  }
}

/*   global css with color && animation   */

.header {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 20;
 display: flex;
 padding: 10px 15px;
 align-items: center;
 justify-content: space-between;
 background-color: $primary-cards;
 border-bottom: 3px solid $primary-border;
}

.container {
 display: flex;
 width: 100%;
 height: 100%;
 overflow: hidden;
 align-items: center;
 justify-content: center;
}

.title-heading {
 font-size: 20px;
}

.wrapper {
 gap: 20px;
 display: flex;
 align-items: center;
 justify-content: start;
}

.icon {
 padding: 5px;
 border-radius: 5px;
 color: $primary-icon;
 transition: all .3s ease-in;
 background-color: $secondary-cards;
 box-shadow: inset 2px 4px 3px $primary-bg;
}

.list {
 gap: 17px;
 width: 100%;
 padding: 15px;
 display: flex;
 overflow: hidden;
 border-radius: 5px;
 position: relative;
 flex-direction: column;
 align-items: flex-start;
 transition: all .3s ease-in;
 border: 2px solid $primary-border;
 background-color: $primary-cards;
 box-shadow: 2px -2px 6px 2px $primary-cards;
}

.box-image {
 position: relative;
 height: 65px;
 width: 65px;
 overflow: hidden;
 border-radius: 5px;
 border: 2px solid $primary-border;
}

.icon-image {
 position: absolute;
 inset: 0;
 width: 100%;
 height: 100%;
 padding: 5px;
 object-fit: cover;
 background-color: $primary-bg;
}

.list .descriptions-box {
 gap: 5px;
 display: flex;
 padding: 10px;
 flex-direction: column;
 border-radius: 0 0 10px 10px;
 background-color: $secondary-hover;
 border-top: 2px solid $primary-border;
}

.list .descriptions-box .wrapping {
 box-shadow: inset 2px 3px 6px 5px $primary-bg;
}

#background-list {
 position: relative;
}

.list .descriptions-box .description {
 height: 75px;
 padding: 6px;
}

.title {
 color: $primary-text;
}

.button {
 padding: 5px;
 border-color: transparent;
 background-color: transparent;
}

.button-wrapper {
 gap: 5px;
 width: auto;
 padding: 3px 5px;
 border-radius: 5px;
 transition: .2s linear;
 border: 1.5px solid transparent;
 background-color: $secondary-hover;
 box-shadow: inset 2px -2px 6px 2px $secondary-hover;
}

.navbar {
 position: fixed;
 left: 0;
 bottom: 0;
 z-index: 20;
 width: 100%;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 border-radius: 5px 5px 0 0;
 padding: 15px 10px 10px 10px;
 background-color: $secondary-cards;
 border-top: 3px solid $primary-border;
 box-shadow: inset 2px 5px 5px 5px $primary-cards;
}

.navbar .wrapper {
 width: 100%;
 justify-content: space-between;
}

.navbar .wrapper .items {
 padding: 7px 15px;
 position: relative;
 border-radius: 5px 15px 5px;
 transition: all .3s ease-in-out;
 background-color: $secondary-cards;
 box-shadow: inset 1px -1px 7px 1px $primary-bg;
}

.navbar .wrapper .items:hover .icon {
 background-color: $primary-cards;
}

.navbar .wrapper .items:hover {
 transform: translateY(5px) ;
 color: $secondary-text;
 border-color: $secondary-hover;
 box-shadow: inset 3px 3px 7px 3px $primary-bg;
}

.sidebar {
 position: fixed;
 top: 0;
 left: -220px;
 gap: 65px;
 z-index: 25;
 width: 220px;
 height: 100%;
 justify-content: start;
 padding: 15px 0 15px 15px;
 transition: all .3s linear;
 background-color: $primary-cards;
}

.sidebar.active {
 left: 0;
}

.sidebar-btn {
 top: 65px;
 width: 40px;
 right: -20px;
 height: 40px;
 position: absolute;
 transform: rotate(135deg) ;
 border-radius: 15px 5px 10px 5px;
 background-color: $primary-cards;
 border-top: 2px solid $primary-border;
 border-left: 3px solid $primary-border;
}

.main-box-icon {
 position: relative;
 width: 110px;
 height: 110px;
 overflow: hidden;
 box-shadow: inset 4px 5px 10px $primary-cards;
}

.section-items {
 gap: 15px;
 width: 100%;
 display: flex;
 flex-direction: column;
}

.section-items .items {
 gap: 10px;
 height: 45px;
 display: flex;
 align-items: center;
 justify-content: start;
 padding: 0px 5px 0px 10px;
 border-radius: 8px 0 0 8px;
 transition: all .3s ease-in-out;
 background-color: $secondary-cards;
 box-shadow: inset 2px 3px 7px 2px $primary-bg;
}

.section-items .items:hover {
 gap: 20px;
 box-shadow: inset 0px 2px 8px $primary-border;
}

.section-items:hover > :not(:hover) .text-info {
 color: $primary-text;
}

.section-items .items:hover .icon {
 z-index: 25;
 color: $primary-text;
 border: 2px solid $primary-border;
 animation: scale_effect 400ms linear;
}

.section-items .items .icon {
 width: 18px;
 height: 18px;
 border: 2px solid transparent;
 background-color: $primary-cards;
}

.popup {
 width: 100%;
 border-radius: 8px;
 border: 1.5px solid $primary-border;
}

.popup .text-info {
 width: 100%;
 z-index: 10;
 padding: 6px 12px;
 border-radius: 5px;
 border-radius: 8px;
 background-color: $primary-cards;
}

.box-notfound {
 display: flex;
 width: 350px;
 gap: 20px;
 height: auto;
 padding: 20px;
 text-align: start;
 align-items: center;
 border-radius: 10px;
 padding-right: 40px;
 justify-content: center;
 border: 2px solid #6f0000;
 background: $primary-cards;
}

.box-notfound .not-found {
 color: #d33300;
 font-size: 65px;
 padding-right: 20px;
 border-right: 2.5px solid #ffffff;
}

.wrapper-notfound {
 gap: 10px;
 display: flex;
 flex-direction: column;
}

.wrapper-notfound .button-wrapper {
 background-color: #4b0000;
 box-shadow: transparent;
 box-shadow: 0 0 0 0;
 width: 100px;
}

.wrapper-notfound .button-wrapper .icon {
 background-color: #4b0000;
 font-size: 15px;
 color: #ffffff;
}