@use './variable.scss' as *;

.container-popup {
 position: relative;
 overflow-x: hidden;
}

.box-popup {
 position: absolute;
 border: 2px solid transparent;
 width: 180px;
 height: auto;
 right: -10px;
 bottom: 50px;
}

.container-loading {
 inset: 0;
 z-index: 50;
 width: 100%;
 height: 100%;
 display: flex;
 position: absolute;
 align-items: center;
 justify-content: center;
}

.container-button-pagination {
 display: flex;
 justify-content: space-between;
}

.container-cards-icons {
 width: 100%;
 border-radius: 8px;
 background-color: $primary-cards;
}

.wrapper-cards-icons {
 z-index: 10; 
 width: 100%;
 height: 100%;
 display: flex;
 position: relative;
 align-items: center;
}

.cards-icons {
 right: -50px;
 opacity: .7;
 position: absolute;
}

.cards-icons-png {
 z-index: 10; 
 object-fit: contain;
}

.wrapper-icons-title {
 z-index: 10;
 align-items: start;
}

.container-cards-detail {
 overflow: hidden;
 height: 100vh;
 width: 100%;
 position: relative;
 //border: 3px solid blue;
}

.wrapper-cards-detail {
 height: 500px;
}

.higlight-title {
 text-align: center;
 border-radius: 5px;
 padding: 3px 8px 3px 8px;
}

.higlight-title-box {
 width: 60%;
 left: 0;
 border: 2px solid;
 padding: 3px 10px;
 position: relative;
 border-radius: 10px;
 justify-content: start;
 background-color: $primary-cards;
}

.higlight-title-box#detail {
 width: auto;
 padding: 3px 25px;
 border-color: $primary-border;
}

.higlight-title-box#right {
 position: relative;
 left: 140px;
}

.to-right {
 border-radius: 10px;
 background-clip: border-box;
 border-image: linear-gradient(to right, $primary-border, rgb(29,29,29,.1)) 1;
}

.to-left {
 padding-left: 30%;
 border-radius: 10px;
 background-clip: border-box;
 border-image: linear-gradient(to left, $primary-border, rgb(29,29,29, .1)) 1;
}
 
.cards-items {
 position: relative;
 overflow: hidden;
 gap: 7px;
 display: flex;
 flex-direction: column;
}

.wrapper-icons-cards {
 position: relative;
 height: 25px;
}

.section-detail-dinosurus {
 //border: 2px solid blue;
 height: 400px;
 padding: 25px;
}