@use './variable.scss' as *;

.container-popup {
 position: relative;
 overflow-x: hidden;
}

.box-popup {
 position: absolute;
 border: 2px solid transparent;
 width: 180px;
 height: auto;
 right: -10px;
 bottom: 50px;
}

.container-loading {
 inset: 0;
 z-index: 50;
 width: 100%;
 height: 100%;
 display: flex;
 position: absolute;
 align-items: center;
 justify-content: center;
}

.container-button-pagination {
 display: flex;
 justify-content: space-between;
}

