$primary-bg: #161105;
$primary-text: #dbff79;
$primary-icon: #4edc68;
$primary-cards: #100e02;
$primary-border: #007904;
$primary-hover: #494624;
$secondary-text: #7f600b;
$secondary-cards: #2a1f00;
$secondary-hover: #2a1f00;
$secondary-icons: #ac9044;