$primary-bg: #161105;
$primary-text: #63b544de;
$primary-icon: #4edc68;
$primary-cards: #100e02;
$primary-border: #007904;
$primary-hover: #494624;
$secondary-text: #7f600b;
$secondary-cards: #0b2810;
$secondary-hover: #0b2810;
$secondary-icons: #ac9044;