/*$primary-bg: #161105;
$primary-text: #ffffffde;
$primary-icon: #fff4a7;
$primary-cards: #100e02;
$primary-border: #d8d49b;
$primary-hover: #494624;
$secondary-text: #7f600b;
$secondary-cards: #2a1f00;
$secondary-hover: #2a1f00;
$secondary-icons: #ac9044;

*/
$primary-bg: #161105;
$primary-text: #63b544de;
$primary-icon: #4edc68;
$primary-cards: #100e02;
$primary-border: #007904;
$primary-hover: #494624;
$secondary-text: #7f600b;
$secondary-cards: #0b2810;
$secondary-hover: #0b2810;
$secondary-icons: #ac9044;
