@use './styles/variable.scss' as *;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  
  color-scheme: light dark;
  background-color: #100e02;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
 overflow-x: hidden;
}

#tsparticles {
 position: fixed; 
 top: 0;
 left: 0;
 z-index: 19;
 width: 100vw;
 height: 100vh; 
 pointer-events: none;
}

* {
 margin: 0;
 padding: 0;
 cursor: none;
 font-weight: 500;
 user-select: none;
 text-decoration: none;
 color: $secondary-text;
 box-sizing: border-box;
}

button {
 border: 0px solid transparent;
 background-color: transparent;
}

ion-icon {
 color: $primary-icon;
}

.container {
 overflow-x: hidden;
 padding: 110px 10px 90px 10px;
}

.loading-gif {
 top: 40%;
 left: 40%;
 z-index: 21;
 display: flex;
 position: absolute;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.container section {
 gap: 30px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.blur-background {
 left: -100%;
 z-index: 25;
 width: 100%;
 height: 100%;
 position: fixed;
 backdrop-filter: blur(7px);
}

.blur-background.active {
 left: 0px;
 top: 0px;
}

#bookmark {
 padding: 5px;
 border-radius: 0 0 0 5px;
}

.name-list {
 z-index: 10;
}

.big {
 font-size: 23px;
}

.small {
 font-size: 18px;
}

.litle {
 font-size: 15px;
}

.tiny {
 font-size: 11.5px;
}

.tiny-small {
 font-weight: 400;
 font-size: 11.5px;
 transition: .3s linear;
 text-transform: capitalize;
}

.ab-left {
 left: -15%;
}

.image-component {
 z-index: 19;
 width: 150px;
 height: 100px;
 position: absolute;
 object-fit: contain;
}

.tiny-bold {
 font-size: 12.5px;
 transition: .3s linear;
}

.big, .small, .litle, .tiny-bold, .giant {
 font-weight: 500;
}

.underline {
 border-bottom: 2px solid $secondary-text;
}

.width-full {
 width: 100%;
}

.padding-button {
 padding: 3px 10px;
}

.items {
 display: flex;
 position: relative;
 align-items: center;
 justify-content: center;
}

.cta {
 height: 100%;
 margin-left: auto;
 margin-bottom: auto;
}

.wrapper-flex {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.wrapper-column {
 gap: 10px;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
}

.center-clm {
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
}

.pd-l-text {
 margin-left: 40%;
}

.pd-top {
 padding-top: 10px;
}

.pd-r-text {
 margin-right: 40%;
}

.center-flx {
 display: flex;
 align-items: center;
 justify-content: center;
}

.wrapping {
 overflow: hidden;
}

.marquee {
 animation: marquee 8s infinite linear;
}

@keyframes marquee {
  from {
   transform: translateY(110%);
  } to {
   transform: translateY(-150%);
 }
}

@keyframes scale_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

.scale-effect {
 animation: scale_effect 300ms 2;
}

.loading-spinner {
 gap: 50px;
 inset: 0;
 display: flex;
 position: fixed;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.loading-spinner-inner {
 display: flex;
 margin-top: 200px;
 align-items: center;
 justify-content: center;
}

.loading-spinner-circle {
 width: .8em;
 height: .8em;
 margin: 0 6px;
 border-radius: 50%;
 background-color: #ebe7a6;
 animation: loading-spinner 1s ease-in-out infinite;
}

.loading-spinner-circle:nth-child(2) {
 animation-delay: 0.2s;
}

.loading-spinner-circle:nth-child(3) {
 animation-delay: 0.4s;
}

.loading-spinner-circle:nth-child(4) {
 animation-delay: 0.6s;
}

.loading-spinner-circle:nth-child(5) {
 animation-delay: 0.8s;
}

@keyframes loading-spinner {
 0% {
   transform: scale(1);
   opacity: 1;
 }

 20% {
   transform: scale(1.5);
   opacity: 0.5;
 }

 100% {
   transform: scale(1);
   opacity: 1;
 }
}
